data/samnsero_07202022.zip
data/ecoli/sistr_res_aggregate.csv
data/ecoli/annotations/results/mob_suite_res_aggregate.tsv
data/ecoli/annotations/results/rgi_res_aggregate.tsv
data/ecoli/annotations/results/vfdb_res_aggregate.tsv
data/ecoli/annotations/summary/mob_suite_summary.tsv
data/ecoli/annotations/summary/rgi_summary.tsv
data/ecoli/annotations/summary/vfdb_summary.tsv
data/samnsero/checkm_res_aggregate.tsv
data/samnsero/quast_res_aggregate.tsv
data/samnsero/sistr_res_aggregate.csv
data/samnsero/kreport/barcode10_2038528-01-08.kraken.report
R/annot_report.html
R/qc_report.html
.nextflow.log
.nextflow.log.1
.nextflow.log.2
.nextflow.log.3
.nextflow.log.4
.nextflow.log.5
.nextflow.log.6
.Rhistory
.nextflow/
data/samnsero (1).zip
data/samnsero_annot_081122.zip
data/samnsero_annot_081222.zip
data/samnsero_annot_081522.zip
data/samnsero_annot_100722.zip
data/samnsero_qc_100722.zip
data/samnsero/kreport/1934051-1.kraken.report
data/samnsero_annot/contig_report.txt
data/samnsero_annot/mobtyper_results.txt
data/samnsero_annot/sistr_res_aggregate.csv
data/samnsero_annot/annotations/results/mob_suite_res_aggregate.tsv
data/samnsero_annot/annotations/results/rgi_res_aggregate.tsv
data/samnsero_annot/annotations/results/vfdb_res_aggregate.tsv
data/samnsero_annot/annotations/summary/mob_suite_summary.tsv
data/samnsero_annot/annotations/summary/rgi_summary.tsv
data/samnsero_annot/annotations/summary/vfdb_summary.tsv
data/samnsero_annot_081122/sistr_res_aggregate.csv
data/samnsero_annot_081122/annotations/results/mob_suite_res_aggregate.tsv
data/samnsero_annot_081122/annotations/results/rgi_res_aggregate.tsv
data/samnsero_annot_081122/annotations/results/vfdb_res_aggregate.tsv
data/samnsero_annot_081122/annotations/summary/mob_suite_summary.tsv
data/samnsero_annot_081122/annotations/summary/rgi_summary.tsv
data/samnsero_annot_081122/annotations/summary/vfdb_summary.tsv
data/samnsero_annot_081222/sistr_res_aggregate.csv
data/samnsero_annot_081222/annotations/results/mob_suite_res_aggregate.tsv
data/samnsero_annot_081222/annotations/results/rgi_res_aggregate.tsv
data/samnsero_annot_081222/annotations/results/vfdb_res_aggregate.tsv
data/samnsero_annot_081222/annotations/summary/mob_suite_summary.tsv
data/samnsero_annot_081222/annotations/summary/rgi_summary.tsv
data/samnsero_annot_081222/annotations/summary/vfdb_summary.tsv
data/samnsero_annot_081522/sistr_res_aggregate.csv
data/samnsero_annot_081522/annotations/results/mob_suite_res_aggregate.tsv
data/samnsero_annot_081522/annotations/results/rgi_res_aggregate.tsv
data/samnsero_annot_081522/annotations/results/vfdb_res_aggregate.tsv
data/samnsero_annot_081522/annotations/summary/mob_suite_summary.tsv
data/samnsero_annot_081522/annotations/summary/rgi_summary.tsv
data/samnsero_annot_081522/annotations/summary/vfdb_summary.tsv
data/samnsero_annot_100722/sistr_res_aggregate.csv
data/samnsero_annot_100722/annotations/results/mob_suite_res_aggregate.tsv
data/samnsero_annot_100722/annotations/results/rgi_res_aggregate.tsv
data/samnsero_annot_100722/annotations/results/vfdb_res_aggregate.tsv
data/samnsero_annot_100722/annotations/summary/mob_suite_summary.tsv
data/samnsero_annot_100722/annotations/summary/rgi_summary.tsv
data/samnsero_annot_100722/annotations/summary/vfdb_summary.tsv
data/samnsero_qc_100722/checkm_res_aggregate.tsv
data/samnsero_qc_100722/quast_res_aggregate.tsv
data/samnsero_qc_100722/sistr_res_aggregate.csv
data/samnsero_qc_100722/kreport/barcode13_FST.kraken.report
data/samnsero_qc_100722/kreport/barcode14_PSW.kraken.report
data/samnsero_qc_100722/kreport/barcode15_EQQ.kraken.report
null/pipeline_info/execution_trace.txt
null/pipeline_info/execution_trace.txt.1
null/pipeline_info/execution_trace.txt.2
null/pipeline_info/execution_trace.txt.3
null/pipeline_info/execution_trace.txt.4
null/pipeline_info/execution_trace.txt.5
null/pipeline_info/execution_trace.txt.6
R/.Rhistory
