data/samnsero_07202022.zip
data/ecoli/sistr_res_aggregate.csv
data/ecoli/annotations/results/mob_suite_res_aggregate.tsv
data/ecoli/annotations/results/rgi_res_aggregate.tsv
data/ecoli/annotations/results/vfdb_res_aggregate.tsv
data/ecoli/annotations/summary/mob_suite_summary.tsv
data/ecoli/annotations/summary/rgi_summary.tsv
data/ecoli/annotations/summary/vfdb_summary.tsv
data/samnsero/checkm_res_aggregate.tsv
data/samnsero/quast_res_aggregate.tsv
data/samnsero/sistr_res_aggregate.csv
data/samnsero/kreport/barcode10_2038528-01-08.kraken.report
R/annot_report.html
R/qc_report.html
.nextflow.log
.nextflow.log.1
.nextflow.log.2
.nextflow.log.3
.nextflow.log.4
.nextflow.log.5
.nextflow.log.6
.Rhistory
.nextflow/history
.nextflow/cache/4213c65e-17c7-48c2-9cef-5c587da402a5/index.hopeful_easley
.nextflow/cache/4213c65e-17c7-48c2-9cef-5c587da402a5/db/000003.log
.nextflow/cache/4213c65e-17c7-48c2-9cef-5c587da402a5/db/CURRENT
.nextflow/cache/4213c65e-17c7-48c2-9cef-5c587da402a5/db/LOCK
.nextflow/cache/4213c65e-17c7-48c2-9cef-5c587da402a5/db/MANIFEST-000002
.nextflow/cache/7b7853bd-b6b3-4dce-8933-a0d3341ac252/index.drunk_brenner
.nextflow/cache/7b7853bd-b6b3-4dce-8933-a0d3341ac252/db/000003.log
.nextflow/cache/7b7853bd-b6b3-4dce-8933-a0d3341ac252/db/CURRENT
.nextflow/cache/7b7853bd-b6b3-4dce-8933-a0d3341ac252/db/LOCK
.nextflow/cache/7b7853bd-b6b3-4dce-8933-a0d3341ac252/db/MANIFEST-000002
.nextflow/cache/820eb680-e847-462f-9920-56f6e6af48b7/index.distracted_brahmagupta
.nextflow/cache/820eb680-e847-462f-9920-56f6e6af48b7/db/000003.log
.nextflow/cache/820eb680-e847-462f-9920-56f6e6af48b7/db/CURRENT
.nextflow/cache/820eb680-e847-462f-9920-56f6e6af48b7/db/LOCK
.nextflow/cache/820eb680-e847-462f-9920-56f6e6af48b7/db/MANIFEST-000002
.nextflow/cache/daa7fc7b-2e9e-4bcb-892e-2d30c3a471c8/index.big_ampere
.nextflow/cache/daa7fc7b-2e9e-4bcb-892e-2d30c3a471c8/db/000003.log
.nextflow/cache/daa7fc7b-2e9e-4bcb-892e-2d30c3a471c8/db/CURRENT
.nextflow/cache/daa7fc7b-2e9e-4bcb-892e-2d30c3a471c8/db/LOCK
.nextflow/cache/daa7fc7b-2e9e-4bcb-892e-2d30c3a471c8/db/MANIFEST-000002
.nextflow/cache/dc025110-1da3-4541-a360-246c9faee250/index.elegant_bell
.nextflow/cache/dc025110-1da3-4541-a360-246c9faee250/db/000003.log
.nextflow/cache/dc025110-1da3-4541-a360-246c9faee250/db/CURRENT
.nextflow/cache/dc025110-1da3-4541-a360-246c9faee250/db/LOCK
.nextflow/cache/dc025110-1da3-4541-a360-246c9faee250/db/MANIFEST-000002
.nextflow/cache/e5af6155-dfd9-42e1-a2c2-365614e35449/index.hungry_mclean
.nextflow/cache/e5af6155-dfd9-42e1-a2c2-365614e35449/db/000003.log
.nextflow/cache/e5af6155-dfd9-42e1-a2c2-365614e35449/db/CURRENT
.nextflow/cache/e5af6155-dfd9-42e1-a2c2-365614e35449/db/LOCK
.nextflow/cache/e5af6155-dfd9-42e1-a2c2-365614e35449/db/MANIFEST-000002
.nextflow/cache/fc7220c3-a9ae-44e2-becc-685498b0bef2/index.sleepy_ride
.nextflow/cache/fc7220c3-a9ae-44e2-becc-685498b0bef2/db/000003.log
.nextflow/cache/fc7220c3-a9ae-44e2-becc-685498b0bef2/db/CURRENT
.nextflow/cache/fc7220c3-a9ae-44e2-becc-685498b0bef2/db/LOCK
.nextflow/cache/fc7220c3-a9ae-44e2-becc-685498b0bef2/db/MANIFEST-000002
data/samnsero (1).zip
data/samnsero_annot_081122.zip
data/samnsero_annot_081222.zip
data/samnsero_annot_081522.zip
data/samnsero_annot_100722.zip
data/samnsero_qc_100722.zip
data/samnsero/kreport/1934051-1.kraken.report
data/samnsero_annot/contig_report.txt
data/samnsero_annot/mobtyper_results.txt
data/samnsero_annot/sistr_res_aggregate.csv
data/samnsero_annot/annotations/results/mob_suite_res_aggregate.tsv
data/samnsero_annot/annotations/results/rgi_res_aggregate.tsv
data/samnsero_annot/annotations/results/vfdb_res_aggregate.tsv
data/samnsero_annot/annotations/summary/mob_suite_summary.tsv
data/samnsero_annot/annotations/summary/rgi_summary.tsv
data/samnsero_annot/annotations/summary/vfdb_summary.tsv
data/samnsero_annot_081122/sistr_res_aggregate.csv
data/samnsero_annot_081122/annotations/results/mob_suite_res_aggregate.tsv
data/samnsero_annot_081122/annotations/results/rgi_res_aggregate.tsv
data/samnsero_annot_081122/annotations/results/vfdb_res_aggregate.tsv
data/samnsero_annot_081122/annotations/summary/mob_suite_summary.tsv
data/samnsero_annot_081122/annotations/summary/rgi_summary.tsv
data/samnsero_annot_081122/annotations/summary/vfdb_summary.tsv
data/samnsero_annot_081222/sistr_res_aggregate.csv
data/samnsero_annot_081222/annotations/results/mob_suite_res_aggregate.tsv
data/samnsero_annot_081222/annotations/results/rgi_res_aggregate.tsv
data/samnsero_annot_081222/annotations/results/vfdb_res_aggregate.tsv
data/samnsero_annot_081222/annotations/summary/mob_suite_summary.tsv
data/samnsero_annot_081222/annotations/summary/rgi_summary.tsv
data/samnsero_annot_081222/annotations/summary/vfdb_summary.tsv
data/samnsero_annot_081522/sistr_res_aggregate.csv
data/samnsero_annot_081522/annotations/results/mob_suite_res_aggregate.tsv
data/samnsero_annot_081522/annotations/results/rgi_res_aggregate.tsv
data/samnsero_annot_081522/annotations/results/vfdb_res_aggregate.tsv
data/samnsero_annot_081522/annotations/summary/mob_suite_summary.tsv
data/samnsero_annot_081522/annotations/summary/rgi_summary.tsv
data/samnsero_annot_081522/annotations/summary/vfdb_summary.tsv
data/samnsero_annot_100722/sistr_res_aggregate.csv
data/samnsero_annot_100722/annotations/results/mob_suite_res_aggregate.tsv
data/samnsero_annot_100722/annotations/results/rgi_res_aggregate.tsv
data/samnsero_annot_100722/annotations/results/vfdb_res_aggregate.tsv
data/samnsero_annot_100722/annotations/summary/mob_suite_summary.tsv
data/samnsero_annot_100722/annotations/summary/rgi_summary.tsv
data/samnsero_annot_100722/annotations/summary/vfdb_summary.tsv
data/samnsero_qc_100722/checkm_res_aggregate.tsv
data/samnsero_qc_100722/quast_res_aggregate.tsv
data/samnsero_qc_100722/sistr_res_aggregate.csv
data/samnsero_qc_100722/kreport/barcode13_FST.kraken.report
data/samnsero_qc_100722/kreport/barcode14_PSW.kraken.report
data/samnsero_qc_100722/kreport/barcode15_EQQ.kraken.report
null/pipeline_info/execution_trace.txt
null/pipeline_info/execution_trace.txt.1
null/pipeline_info/execution_trace.txt.2
null/pipeline_info/execution_trace.txt.3
null/pipeline_info/execution_trace.txt.4
null/pipeline_info/execution_trace.txt.5
null/pipeline_info/execution_trace.txt.6
R/.Rhistory
