params {
    input = null
    outdir = null
    trim = false
    threads = 6
}

process {
    withLabel:process_low {
        cpus = { 4 }
        memory = { 8.GB }
        time = { 2.h }
    }
    withLabel:process_medium {
        cpus = { 16 }
        memory = { 16.GB }
        time = { 4.h }
    }
    withLabel:process_high {
        cpus = { 32 }
        memory = { 32.GB }
        time = { 8.h }
    }
}

profiles {
    conda {
        includeConfig 'conf/conda.config'
    }
    docker {
        includeConfig 'conf/docker.config'
    }
}