manifest {
    author = "Jimmy Liu"
    version = "2.0"
    name = "SamnSero"
    homePage = 'https://github.com/jimmyliu1326/SamnSero_Nextflow'
    description = 'Bacterial Genomics Workflow for Infectious Disease Diagnostics and Surveillance'
    mainScript = "main.nf"
    nextflowVersion = ">=21.0.0"
    manifest.defaultBranch = "main"
}

params {
    input = null
    out_dir = './results'
    watchdir = null
    help = null
    qc = false
    annot = null
    trim = null
    nanohq = null
    gpu = null
    version = null
    centrifuge = "/mnt/e/data/reference/centrifuge/"
    noreport = null
    taxon_name = "Salmonella enterica"
    taxon_level = "species"
    medaka_batchsize = 100
    meta = "off"
    min_binsize = 2000000
    seq_platform='nanopore'
    account=null
}

process {
    withLabel:process_low {
        cpus = { 4 }
        memory = { 8.GB }
        time = { 2.h }
    }
    withLabel:process_medium {
        cpus = { 16 }
        memory = { 16.GB }
        time = { 24.h }
    }
    withLabel:process_high {
        cpus = { 32 }
        memory = { 32.GB }
        time = { 48.h }
    }
}

// profile definitions
profiles {

    standard {
        includeConfig 'conf/docker.config'
        includeConfig 'conf/resources.config'
    }

    slurm {
        includeConfig 'conf/slurm.config'
        includeConfig 'conf/singularity.config'
        includeConfig 'conf/resources.config'
    }    

}

// override module default parameters/specifications
includeConfig 'conf/modules.config'

// Trace pipeline execution metrics
timeline {
    enabled = true
    file    = "${params.out_dir}/pipeline_info/execution_timeline.html"
}
report {
    enabled = true
    file    = "${params.out_dir}/pipeline_info/execution_report.html"
}
trace {
    enabled = true
    file    = "${params.out_dir}/pipeline_info/execution_trace.txt"
    overwrite = true
}
dag {
    enabled = true
    file    = "${params.out_dir}/pipeline_info/pipeline_dag.html"
    overwrite = true
}