process {
    withName:porechop {
        container = 'biocontainers/porechop'
    }
    withName:flye {
        container = 'staphb/flye'
    }
    withName:medaka {
        container = 'staphb/medaka'
    }
    withName:sistr {
        container = 'staphb/sistr'
    }
    withName:abricate {
        container = 'staphb/abricate'
    }
    withName:makeblastdb {
        container = 'staphb/abricate'
    }
    withName:abricate_custom {
        container = 'staphb/abricate'
    }
    withName:abricate_summary {
        container = 'staphb/abricate'
    }
    withName:checkm {
        container = 'sstevens/checkm'
    }
    withName:quast {
        container = 'staphb/quast'
    }
    withName:qc_report {
        container = 'jimmyliu1326/samnsero-r'
    }
    withName:annot_report {
        container = 'jimmyliu1326/samnsero-r'
    }
    withName:combine_res {
        container = 'jimmyliu1326/samnsero-r'
    }
}

docker {
    enabled = true
    runOptions = '--rm -u $(id -u):$(id -g)'
}