process {
    withName:porechop {
        container = 'biocontainers/porechop'
    }
    withName:flye {
        container = 'staphb/flye'
    }
    withName:dragonflye {
        container = 'jimmyliu1326/dragonflye:1.0.12'
    }
    withName:sistr {
        container = 'staphb/sistr'
    }
    withName:abricate {
        container = 'staphb/abricate'
    }
    withName:makeblastdb {
        container = 'staphb/abricate'
    }
    withName:abricate_custom {
        container = 'staphb/abricate'
    }
    withName:abricate_summary {
        container = 'staphb/abricate'
    }
    withName:checkm {
        container = 'sstevens/checkm'
    }
    withName:quast {
        container = 'staphb/quast'
    }
    withName:qc_report {
        container = 'jimmyliu1326/samnsero-r:0.1'
    }
    withName:annot_report {
        container = 'jimmyliu1326/samnsero-r:0.1'
    }
    withName:combine_res {
        container = 'jimmyliu1326/samnsero-r:0.1'
    }
    withName:medaka_gpu {
        container = 'ontresearch/medaka:v1.6.0'
        containerOptions = '--gpus 0'
    }
    withName:medaka {
        container = 'nanozoo/medaka:1.6.0--9469527'
    }
    withName:centrifuge {
        container = 'nanozoo/centrifuge'
    }
    withName:krona {
        container = 'nanozoo/krona:2.7.1--e7615f7'
    }
}

docker {
    enabled = true
    runOptions = '--rm -u $(id -u):$(id -g)'
}