process {
    withName:porechop {
        container = 'biocontainers/porechop'
    }
    withName:flye {
        container = 'staphb/flye'
    }
    withName:medaka {
        container = 'staphb/medaka'
    }
    withName:sistr {
        container = 'staphb/sistr'
    }
}

docker.enabled = true
docker.runOptions='--rm -u $(id -u):$(id -g)'