process {

    if ( params.meta != 'off' ) {
        withName: medaka {
            publishDir = [
                path: { "${params.out_dir}/assembly/${sample_id.replaceAll('_BIN_.*', '')}/bins/" },
                mode: "copy"
            ]
        }
        withName: medaka_gpu {
            publishDir = [
                path: { "${params.out_dir}/assembly/${sample_id.replaceAll('_BIN_.*', '')}/bins/" },
                mode: "copy"                
            ]
        }
    }

    if ( params.watchdir ) {

        withName: dragonflye {
            publishDir = [
                path: { "${params.out_dir}/timepoints/${sample_id.replaceAll('_TIME_.*', '')}/assembly/${sample_id.replaceAll('.*_TIME_', '')}/" },
                mode: "copy",
                pattern: "*.{log,txt,gfa}"
            ]
        }
        withName: medaka {
            publishDir = [
                path: { "${params.out_dir}/timepoints/${sample_id.replaceAll('_TIME_.*', '')}/assembly/${sample_id.replaceAll('.*_TIME_', '')}/" },
                mode: "copy"
            ]
        }
        withName: medaka_gpu {
            publishDir = [
                path: { "${params.out_dir}/timepoints/${sample_id.replaceAll('_TIME_.*', '')}/assembly/${sample_id.replaceAll('.*_TIME_', '')}/" },
                mode: "copy"
            ]
        }

    } else {

        withName: centrifuge {
            publishDir = [
                path: { "$params.out_dir"+"/qc/centrifuge/" },
                mode: "copy",
                pattern: "*.{krona,kraken.report}"
            ]
        }

    }

}
    