process {
  withName: 'nanopore:ASSEMBLY_nanopore:dragonflye' {
    cpus = 8
    memory = { 16.GB * task.attempt }
    errorStrategy = { (task.exitStatus in 137..140) ? 'retry' : 'ignore' }
    maxRetries = 3
  }
  withName: 'nanopore:ASSEMBLY_nanopore:metaflye' {
    cpus = 8
    memory = { 16.GB * task.attempt }
    errorStrategy = { (task.exitStatus in 137..140) ? 'retry' : 'ignore' }
    maxRetries = 3
  }
  withName: 'nanopore:ASSEMBLY_nanopore:medaka' {
    cpus = 2
    memory = { 16.GB * task.attempt }
    errorStrategy = { (task.exitStatus in 137..140) ? 'retry' : 'terminate' }
    maxRetries = 3
  }
  withName: 'nanopore:ASSEMBLY_nanopore:medaka_gpu' {
    cpus = 2
    memory = { 16.GB * task.attempt }
    errorStrategy = { (task.exitStatus in 137..140) ? 'retry' : 'terminate' }
    maxRetries = 3
  }
  withName: 'nanopore:combine' {
    cpus = 1
    memory = { 1.GB * task.attempt }
    errorStrategy = { (task.exitStatus in 137..140) ? 'retry' : 'terminate' }
    maxRetries = 3
  }
  withName: 'nanopore:nanoq' {
    cpus = 2
    memory = { 1.GB * task.attempt }
    errorStrategy = { (task.exitStatus in 137..140) ? 'retry' : 'terminate' }
    maxRetries = 3
  }
  withName: 'post_asm_process:ANNOT:abricate' {
    cpus = 3
    memory = 1.GB
  }
  withName: 'post_asm_process:ANNOT:abricate_summary' {
    cpus = 2
    memory = 1.GB
  }
  withName: 'post_asm_process:ANNOT:aggregate_cctyper' {
    cpus = 2
  }
  withName: 'post_asm_process:ANNOT:aggregate_mob_suite' {
    cpus = 1
  }
  withName: 'post_asm_process:ANNOT:aggregate_rgi' {
    cpus = 2
  }
  withName: 'post_asm_process:ANNOT:cctyper' {
    cpus = 3
    memory = 1.GB
  }
  withName: 'post_asm_process:ANNOT:mob_suite' {
    cpus = 2
    memory = 2.GB
  }
  withName: 'post_asm_process:ANNOT:mob_suite_merge' {
    cpus = 2
    memory = 1.GB
  }
  withName: 'post_asm_process:ANNOT:mob_suite_summary' {
    cpus = 2
    memory = 1.GB
  }
  withName: 'post_asm_process:ANNOT:rgi' {
    cpus = 3
    memory = 2.GB
  }
  withName: 'post_asm_process:ANNOT:rgi_summary' {
    cpus = 2
    memory = 1.GB
  }
  withName: 'post_asm_process:ANNOT:tnblast' {
    cpus = 4
    memory = 2.GB
  }
  withName: 'post_asm_process:ASSEMBLY_QC:aggregate_quast' {
    cpus = 1
  }
  withName: 'post_asm_process:ASSEMBLY_QC:checkm' {
    cpus = 8
    memory = { 4.GB * task.attempt }
    time = { 4.h * task.attempt }
    errorStrategy = { (task.exitStatus in 137..140) ? 'retry' : 'terminate' }
    maxRetries = 6
  }
  withName: 'post_asm_process:ASSEMBLY_QC:checkm_single' {
    cpus = 4
    memory = { 2.GB * task.attempt }
    time = { 2.h * task.attempt }
    errorStrategy = { (task.exitStatus in 137..140) ? 'retry' : 'terminate' }
    maxRetries = 6
  }
  withName: 'post_asm_process:ASSEMBLY_QC:quast' {
    cpus = 4
    memory = { 8.GB * task.attempt }
    errorStrategy = { (task.exitStatus in 137..140) ? 'retry' : 'terminate' }
    maxRetries = 3
  }
  withName: 'post_asm_process:READ_QC:centrifuge' {
    cpus = 16
    memory = { 16.GB * task.attempt }
    time = 18.h
    errorStrategy = { (task.exitStatus in 137..140) ? 'retry' : 'terminate' }
    maxRetries = 3
  }
  withName: 'post_asm_process:READ_QC:krona' {
    cpus = 1
    memory = 1.GB
  }
  withName: 'post_asm_process:READ_QC:nanocomp' {
    cpus = 2
    memory = { 2.GB * task.attempt }
    errorStrategy = { (task.exitStatus in 137..140) ? 'retry' : 'terminate' }
    maxRetries = 3
  }
  withName: 'post_asm_process:READ_QC:seqkit_fx2tab' {
    cpus = 2
    memory = 1.GB
  }
  withName: 'post_asm_process:READ_QC:target_reads_aggregate' {
    cpus = 2
  }
  withName: 'post_asm_process:READ_QC:target_reads_xtract' {
    cpus = 2
    memory = 1.GB
  }
  withName: 'taxonkit_name2taxid' {
    cpus = 2
    memory = 1.GB
  }
  withName: 'post_asm_process:SEROTYPING:aggregate_sistr' {
    cpus = 2
  }
  withName: 'post_asm_process:SEROTYPING:sistr' {
    cpus = 2
    memory = 1.GB
  }
  withName: 'post_asm_process:annot_report' {
    cpus = 2
    memory = 2.GB
    errorStrategy = 'ignore'
  }
  withName: 'post_asm_process:combine_res' {
    cpus = 2
    memory = 1.GB
  }
  withName: 'post_asm_process:qc_report' {
    cpus = 2
    memory = 2.GB
    errorStrategy = 'ignore'
  }
  withName: 'post_asm_process:MG_BIN:rename_CTG' {
    cpus = 1
    memory = 1.GB
  }
  withName: 'post_asm_process:MG_BIN:rename_FASTA' {
    cpus = 1
    memory = 1.GB
  }
  withName: 'post_asm_process:MG_BIN:vamb_concatenate' {
    cpus = 1
    memory = 4.GB
  }
  withName: 'post_asm_process:MG_BIN:vamb' {
    cpus = 8
    memory = 8.GB
  }
  withName: 'post_asm_process:MG_BIN:vamb_gpu' {
    cpus = 8
    memory = 8.GB
  }
  withName: 'post_asm_process:MG_BIN:samtools_view' {
    cpus = 4
    memory = 4.GB
  }
  withName: 'post_asm_process:MG_BIN:minimap2_map_ont' {
    cpus = 4
    memory = 4.GB
  }
  withName: 'post_asm_process:MG_BIN:pubmlst_species_id' {
    cpus = 1
    memory = 1.GB
  }
  withName: 'post_asm_process:XTRACT_TARGET_CTGS:taxonkit_rank2name' {
    cpus = 2
    memory = 1.GB
  }
  withName: 'post_asm_process:XTRACT_TARGET_CTGS:MMSEQS2_EASY_TAXONOMY' {
    memory = { 32.GB * task.attempt }
    errorStrategy = { (task.exitStatus in 137..140) ? 'retry' : 'terminate' }
    maxRetries = 3
  }
}