process {
    withName:porechop {
        container = 'docker://biocontainers/porechop'
    }
    withName:flye {
        container = 'docker://staphb/flye'
    }
    withName:medaka {
        container = 'docker://staphb/medaka'
    }
    withName:sistr {
        container = 'docker://staphb/sistr'
    }
}

singularity {
    enabled = true
    autoMounts = true
}