process {
    withName:porechop {
        container = 'docker://biocontainers/porechop'
    }
    withName:flye {
        container = 'docker://staphb/flye'
    }
    withName:dragonflye {
        container = 'docker://jimmyliu1326/dragonflye:1.0.12'
    }
    withName:sistr {
        container = 'docker://quay.io/biocontainers/sistr_cmd:1.1.1--pyh7cba7a3_3'
    }
    withName:abricate {
        container = 'docker://nanozoo/abricate:1.0.1--8960147'
    }
    withName:makeblastdb {
        container = 'docker://nanozoo/abricate:1.0.1--8960147'
    }
    withName:abricate_custom {
        container = 'docker://nanozoo/abricate:1.0.1--8960147'
    }
    withName:abricate_summary {
        container = 'docker://nanozoo/abricate:1.0.1--8960147'
    }
    withName:checkm {
        container = 'docker://sstevens/checkm'
    }
    withName:quast {
        container = 'docker://staphb/quast:5.0.2'
    }
    withName:qc_report {
        container = 'docker://jimmyliu1326/samnsero-r:0.7'
        containerOptions = '--writable-tmpfs'
    }
    withName:annot_report {
        container = 'docker://jimmyliu1326/samnsero-r:0.7'
        containerOptions = '--writable-tmpfs'
    }
    withName:combine_res {
        container = 'docker://jimmyliu1326/samnsero-r:0.7'
    }
    withName:medaka_gpu {
        container = 'docker://ontresearch/medaka:v1.6.0'
        containerOptions = '--gpus 0 --no-home'
    }
    withName:medaka {
        container = 'docker://nanozoo/medaka:1.6.0--9469527'
        containerOptions = '--no-home'
    }
    withName:centrifuge {
        container = 'docker://nanozoo/centrifuge'
    }
    withName:krona {
        container = 'docker://nanozoo/krona:2.7.1--e7615f7'
    }
    withName:mob_suite {
        container = 'docker://quay.io/biocontainers/mob_suite:3.0.3--pyhdfd78af_0'
    }
    withName:mob_suite_merge {
        container = 'docker://jimmyliu1326/samnsero-r:0.7'
    }
    withName:rgi {
        container = 'docker://quay.io/biocontainers/rgi:5.2.1--pyha8f3691_2'
    }
    withName:rgi_summary {
        container = 'docker://jimmyliu1326/samnsero-r:0.7'
    }
    withName:mob_suite_summary {
        container = 'docker://jimmyliu1326/samnsero-r:0.7'
    }
    withName:aggregate_rgi {
        container = 'docker://jimmyliu1326/samnsero-r:0.2'
    }
    withName:aggregate_mob_suite {
        container = 'docker://jimmyliu1326/samnsero-r:0.2'
    }
    withName:aggregate_sistr {
        container = 'docker://jimmyliu1326/samnsero-r:0.2'
    }
    withName:aggregate_quast {
        container = 'docker://jimmyliu1326/samnsero-r:0.2'
    }
    withName:cctyper {
        container = 'docker://jimmyliu1326/cctyper:1.6.2'
    }
    withName:tnblast {
        container = 'docker://jimmyliu1326/thermonucleotideblast:2.4'
    }
    withName:mafft {
        container = 'docker://quay.io/biocontainers/mafft:7.471--h516909a_0'
    }
    withName:fastp {
        container = 'docker://staphb/fastp:0.23.2'
    }
    withName:shovill {
        container = 'docker://nanozoo/shovill:1.1.0--7e71992'
    }
    withName:fastqc {
        container = 'docker://staphb/fastqc:0.11.9'
    }
    withName:multiqc {
        container = 'docker://quay.io/biocontainers/multiqc:1.13--pyhdfd78af_0'
        containerOptions = '--no-home'
    }
    withName:nanocomp {
        container = 'docker://quay.io/biocontainers/nanocomp:1.19.3--pyhdfd78af_0'
    }
    withName:nanoq {
        container = 'docker://jimmyliu1326/nanoq'
    }
}

singularity {
    enabled = true
    autoMounts = true
    runOptions = '--no-home'
}